body {
	font-family: "Microsoft YaHei", tahoma, verdana, sans-serif;
	font-size: 12px;
	margin: 0px;
	background: #3d3d5d;
}

input,textarea,select {
	font-family: "Microsoft YaHei", verdana, sans-serif;
	font-size: 12px;
}

A {}
A:link {
    color : #99e;
}
A:visited {
    color : #99e;
}
A:hover {
    color : #99ccff;
    text-decoration : none;
}
A:active {
    color : #99ccff;
}

h2 {
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	margin: 0;
	margin-bottom: 15px;
}
/* mainPage layout style Begin*/
.laytop{height: 102px; background: #3d3d5d;overflow:hidden;}
.laytop .logo{height: 75px; width: 100%; overflow: hidden; font-size: 0px;background: url(app/images/simbar.png) no-repeat;}
.laytop .menucont{height: 27px; line-height: 27px; overflow: hidden; position: relative}
.laytop .menucont .menus{overflow: hidden; float: left;position:relative;}
.laytop .menucont .menus a {color: Black;text-decoration: none;}
.laytop .menucont .menus a:hover {color: Red;text-decoration: underline;}
.laytop .menucont .loginfo{float: right; padding-right: 5px; position: absolute; right: 0px; color: #eef;width: 385px;}
.laytop .menucont .loginfo .btndiv{float:right;margin-top:4px;}
.laytop .menucont .loginfo .displaybtn{display:block;height:15px;width:15px;}
.laytop .menucont .user{float:right;margin-right:10px;}
.laytop .menucont .user a{text-decoration: none;color: #eef;}

.menuscrollerleft{
	position:absolute;
	left:0px;
	top:-1px;
	width:18px;
	height:28px!important;
	height:30px;
	border:1px solid #8DB2E3;
	font-size:1px;
	display:none;
	cursor:pointer;
	background:#E0ECFF url('themes/default/images/tabs_leftarrow.png') no-repeat 1px 5px;
}
.menuscrollerright{
	position:absolute;
	right:0;
	top:-1px;
	width:18px;
	height:28px!important;
	height:30px;
	border:1px solid #8DB2E3;
	font-size:1px;
	display:none;
	cursor:pointer;
	background:#E0ECFF url('themes/default/images/tabs_rightarrow.png') no-repeat 2px 5px;
}
.menuwrap{
	position:relative;
	left:0px;
	overflow:hidden;
	width:100%;
	margin:0px;
	padding:0px;
}

#css3menu {list-style-type: none;margin: 0px;padding: 0px;font-size: 12px;font-weight: bold;line-height: 27px;width:5000px;}
#css3menu li {float: left;margin: 0px 10px;}
#css3menu a {color: #eef;}
#css3menu li a:hover {color: #ff6600;}

.laytop .menucont .btnup{background:url(themes/default/images/layout_button_up.gif) no-repeat;}
.laytop .menucont .btnleft{background:url(themes/default/images/layout_button_left.gif) no-repeat;}
.laytop .menucont .btnright{background:url(themes/default/images/layout_button_right.gif) no-repeat;}
.laytop .menucont .btndown{background:url(themes/default/images/layout_button_down.gif) no-repeat;}

.layleft{width: 180px;}
.left-header{ height:25px;line-height:23px;color:#fff;font-weight:bold;}
.laybottom{height: 22px; line-height: 22px; background: #D2E9FF; padding: 0px; color: grey; text-align: center;}

.left-header {
	background: #3d3d4d;
	padding-top: 2px;
	position: relative;
	left: 0px;
	overflow: hidden;
	list-style-type: none;
	height: 28px;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	padding-left: 10px;
	border-bottom: 1px solid #000;
}

/* mainPage layout style End*/

.bdcontent{
	margin:10px;
}
.bdcontent .searchtt{margin-left:10px;margin-right:5px;}
table.tbcontent {border-collapse:collapse;width:100%;font-size:12px;}
table.tbcontent td {border:1px solid #889;padding:4px 4px;*padding:3px 4px}
table.tbcontent .tbtitle{text-align:right;background-color:#446}
table.tbcontent .necessary{color:red;}
.tinput{border:1px solid #A4BED4;}
.buttonGaps{margin-left:17px;}

.body_layout{width:100%;height:100%;border-collapse:collapse;}
.body_layout_left{width:200px;padding:10px}
.body_layout_right{padding:10px;}
.body_layout_bar{text-align:right;padding:5px;}

.form_bottom{text-align: center;margin-top:20px;}


#submenu a{padding:0px 25px;display:block;color:#eef;text-decoration:none;line-height:25px;background-color:#668;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;text-align:left;}
#submenu a:hover{background-color:#449;color:#eef;}
#submenu ul{list-style: none;position:absolute;left:0px;display:none;background-color:#cadcf3;margin:0px;padding:0px;}
#submenu ul li{float:left;position:relative;clear:both;top:0px;white-space: nowrap;}
#submenu ul li ul{top:-1px;background-color:#fafafa;}

